	html, body, #container { 
		margin: 0; 
		padding: 0;
		font-family: sans-serif;
	}

	#main { 
 		position: absolute; 	
		top: 0px; 
		height:100%; 
		width:auto; 		
	}
	#clipboard {
		position: absolute; 	
		top: 0px; 
		height:100%; 
		width: 800px ;
		margin-left: auto ;
		margin-right: auto ;		
	}
	#intro { 
		position: absolute; 
		top: 150px; 
		left: 25%; 
		width: 35%; 
		z-index: 10;
	}
	#pedagogy { 
		position: absolute; 
		top: 150px; 
		left: 25%; 
		width: 35%; 
		text-align:center;
	}	
	#technology { 
		position: absolute; 
		top: 225px; 
		left: 25%; 
		width: 35%; 
		text-align:center;
	}
	#content { 
		position: absolute; 
		top: 300px; 
		left: 25%; 
		width: 35%; 
		text-align:center;
	}
	#herstart { 
		position: absolute; 
		top: 375px; 
		left: 25%; 
		width: 35%; 
		text-align:center;
	}	
	#footer {
		clear: both;
		position: relative;
		z-index: 10;
		height: 3em;
		margin-top: -3em;
	}
	.tphead {
		font-size: 14px;
		color: blue;
		text-align:center;
	}
	.text {
		font-size: 16px;
		color: red;
	}
	#tpack {
		float: right;
	}
	/* HOVER STYLES */
	div#pop-up {
		display: none;
		position: absolute;
		width: 280px;
		padding: 10px;
		background: #eeeeee;
		color: #000000;
		border: 1px solid #1a1a1a;
		font-size: 90%;
	}	
	